<config>
  <option id="NTGCALLS_VERSION">1.0.0</option>
  <option id="PYTGCALLS_VERSION">1.0.0</option>

  <files-list>
    <microtag>INTRODUCTION</microtag>
    <file>Quick Start.xml</file>
    <file>Install Guide.xml</file>

    <microtag>GETTING STARTED</microtag>
    <file>Calling Methods.xml</file>
    <file>Handling Updates.xml</file>
    <file>Examples.xml</file>

    <microtag>API REFERENCE</microtag>
    <file>Client.xml</file>
    <file>Custom Api.xml</file>
  </files-list>
</config>