<config>
  <option id="NTGCALLS_VERSION">1.0.0</option>
  <option id="PYTGCALLS_VERSION">1.0.0</option>

  <!--MACRO-->
  <!--exceptions-->
  <option id="BASE_EXCEPTIONS">
    <category-title>exception <ref>pytgcalls.exceptions.<sb>NoMTProtoClient</sb></ref></category-title>
    <subtext><text>This method can only be called with a valid MTProto client set.</text></subtext>

    <category-title>exception <ref>pytgcalls.exceptions.<sb>ClientNotStarted</sb></ref></category-title>
    <subtext><text>Ensure you have started the process with <docs-ref link="">start()</docs-ref> before calling this method.</text></subtext>

    <category-title>exception <ref>pytgcalls.exceptions.<sb>NoActiveGroupCall</sb></ref></category-title>
    <subtext><text>You cannot edit a group call that hasn't been initiated.</text></subtext>
  </option>

  <option id="STREAM_EXCEPTIONS">
    <category-title>exception <ref><sb>FileNotFoundError</sb></ref></category-title>
    <subtext><text>The specified file does not exist.</text></subtext>

    <category-title>exception <ref>ntgcalls.<sb>FFmpegError</sb></ref></category-title>
    <subtext><text>To use Piped input stream, make sure you have FFmpeg installed.</text></subtext>

    <category-title>exception <ref>ntgcalls.<sb>ShellError</sb></ref></category-title>
    <subtext><text>Error while executing the shell script.</text></subtext>

    <category-title>exception <ref>pytgcalls.exceptions.<sb>NoAudioSourceFound</sb></ref></category-title>
    <subtext><text>The audio file you're trying to play has no audio.</text></subtext>

    <category-title>exception <ref>pytgcalls.exceptions.<sb>NoVideoSourceFound</sb></ref></category-title>
    <subtext><text>The video file you're trying to play has no video.</text></subtext>

    <category-title>exception <ref>pytgcalls.exceptions.<sb>InvalidVideoProportion</sb></ref></category-title>
    <subtext><text>Playing a video with incorrect proportions is not supported.</text></subtext>
  </option>

  <option id="GROUPCALL_NOT_FOUND_EXCEPTION">
    <category-title>exception <ref>pytgcalls.exceptions.<sb>GroupCallNotFound</sb></ref></category-title>
    <subtext><text>This error occurs when attempting to access a group call that does not exist.</text></subtext>
  </option>

  <option id="RUNNING_EXCEPTION">
    <category-title>exception <ref>pytgcalls.exceptions.<sb>PyTgCallsAlreadyRunning</sb></ref></category-title>
    <subtext><text>This error occurs when attempting to start a client that is already running.</text></subtext>
  </option>
  <!--end exceptions-->

  <!--parameters-->
  <option id="ARG_CHAT_ID">
    <category-title><ref>chat_id</ref>: Union[<shi>int</shi>, <shi>str</shi>]</category-title>
    <subtext><text>Can be a direct id or a username</text></subtext>
  </option>

  <option id="ARG_INPUT_STREAM">
    <category-title><ref>stream</ref>: <docs-ref link="">InputStream</docs-ref></category-title>
    <subtext><text>Input Streams base descriptor</text></subtext>
  </option>

  <option id="RET_INT_ID">
    <category-title><ref><sb>chat_id</sb></ref> <shi>-> int</shi></category-title>
    <subtext><text>Unique identifier of chat.</text></subtext>
  </option>

  <option id="ARG_INT_ID">
    <category-title><ref><sb>chat_id</sb></ref>: <shi>int</shi></category-title>
    <subtext><text>Unique identifier of chat.</text></subtext>
  </option>

  <option id="ARG_PARTICIPANT">
    <category-title><ref><sb>participant</sb></ref> <shi>-></shi> <docs-ref link="PyTgCalls/Advanced Types/GroupCallParticipant.xml">GroupCallParticipant</docs-ref></category-title>
    <subtext><text>Info about a group call participant.</text></subtext>
  </option>

  <option id="ARG_AUDIO_PARAMS_DESC">
    <subtext>
      <text>
        Audio parameters of the stream. Can be used also <docs-ref link="">HighQualityAudio()</docs-ref>,
        <docs-ref link="">MediumQualityAudio()</docs-ref> or <docs-ref link="">LowQualityAudio()</docs-ref>.
      </text>
    </subtext>
  </option>

  <option id="ARG_VIDEO_PARAMS_DESC">
    <subtext>
      <text>
        Video parameters of the stream. Can be used also <docs-ref link="">HighQualityVideo()</docs-ref>,
        <docs-ref link="">MediumQualityVideo()</docs-ref> or <docs-ref link="">LowQualityVideo()</docs-ref>.
      </text>
    </subtext>
  </option>

  <option id="ARG_AUDIO_PARAMS">
    <category-title><ref>audio_parameters</ref>: Optional[<docs-ref link="">AudioParameters</docs-ref>]</category-title>
    <config id="ARG_AUDIO_PARAMS_DESC"/>
  </option>

  <option id="ARG_VIDEO_PARAMS">
    <category-title><ref>video_parameters</ref>: Optional[<docs-ref link="">VideoParameters</docs-ref>]</category-title>
    <config id="ARG_VIDEO_PARAMS_DESC"/>
  </option>

  <option id="ARG_FFMPEG_PARAMS">
    <category-title><ref>headers</ref>: Optional[<shi>dict</shi>[<shi>str</shi>, <shi>str</shi>]]</category-title>
    <subtext><text>Headers of http the connection.</text></subtext>

    <category-title><ref>additional_ffmpeg_parameters</ref>: Optional[<shi>str</shi>]</category-title>
    <subtext><text>FFmpeg additional parameters.</text></subtext>
  </option>

  <option id="ARG_STREAM_PARAMS">
    <config id="ARG_INT_ID"/>
    <category-title><ref>media</ref>: <docs-ref href="">MediaDescription</docs-ref></category-title>
    <subtext><text>Media parameters of the stream.</text></subtext>
  </option>
  <!--end parameters-->

  <files-list id="NTgCalls" basepath="NTgCalls/">
    <microtag>INTRODUCTION</microtag>
    <file>Quick Start.xml</file>
    <file>Build Guide.xml</file>

    <microtag>PYTHON API</microtag>
    <file>Client.xml</file>
    <group basepath="NTgCalls/Basic Methods/">
      <file>Connect.xml</file>
      <file>Create Call.xml</file>
      <file>Stop.xml</file>
    </group>
  </files-list>

  <files-list id="PyTgCalls" basepath="PyTgCalls/">
    <microtag>INTRODUCTION</microtag>
    <file>Quick Start.xml</file>
    <file>Install Guide.xml</file>

    <microtag>GETTING STARTED</microtag>
    <file>Calling Methods.xml</file>
    <file>Handling Updates.xml</file>
    <file>Examples.xml</file>

    <microtag>API REFERENCE</microtag>
    <file>Client.xml</file>
    <file>Custom Api.xml</file>
    <file>Decorators.xml</file>

    <microtag>METHODS</microtag>
    <group basepath="PyTgCalls/Basic Methods/">
      <file>Idle.xml</file>
      <file>Join Group Call.xml</file>
      <file>Leave Group Call.xml</file>
      <file>Run.xml</file>
      <file>Start.xml</file>
    </group>
    <group basepath="PyTgCalls/Stream Methods/">
      <file>Change Stream.xml</file>
      <file>Mute Stream.xml</file>
      <file>Pause Stream.xml</file>
      <file>Played Time.xml</file>
      <file>Resume Stream.xml</file>
      <file>UnMute Stream.xml</file>
    </group>
    <group basepath="PyTgCalls/Advanced Methods/">
      <file>Change Volume Call.xml</file>
      <file>Get Active Call.xml</file>
      <file>Get Call.xml</file>
      <file>Get Participants.xml</file>
    </group>

    <microtag>TYPES</microtag>
    <group basepath="PyTgCalls/Base Stream/">
      <file>AudioParameters.xml</file>
      <file>AudioStream.xml</file>
      <file>InputStream.xml</file>
      <file>VideoParameters.xml</file>
      <file>VideoStream.xml</file>
    </group>
    <group basepath="PyTgCalls/Piped Stream/">
      <file>AudioImagePiped.xml</file>
      <file>AudioPiped.xml</file>
      <file>AudioVideoPiped.xml</file>
      <file>VideoPiped.xml</file>
    </group>
    <group basepath="PyTgCalls/Advanced Types/">
      <file>GroupCall.xml</file>
      <file>GroupCallParticipant.xml</file>
      <file>JoinedGroupCallParticipant.xml</file>
      <file>LeftGroupCallParticipant.xml</file>
      <file>StreamAudioEnded.xml</file>
      <file>StreamVideoEnded.xml</file>
      <file>UpdatedGroupCallParticipant.xml</file>
    </group>
  </files-list>
</config>