<config>
  <option id="NTGCALLS_VERSION">1.0.0</option>
  <option id="PYTGCALLS_VERSION">1.0.0</option>

  <files-list>
    <microtag>INTRODUCTION</microtag>
    <file>Quick Start.xml</file>
    <file>PyTGCalls/Install Guide.xml</file>

    <microtag>GETTING STARTED</microtag>
    <file>PyTGCalls/Calling Methods.xml</file>
    <file>PyTGCalls/Handling Updates.xml</file>
    <file>PyTGCalls/Examples.xml</file>

    <microtag>API REFERENCE</microtag>
    <file>PyTGCalls/Client.xml</file>
    <file>PyTGCalls/Custom Api.xml</file>
    <file>PyTGCalls/Decorators.xml</file>
    <file>PyTGCalls/Exceptions.xml</file>
  </files-list>
</config>